@{
    ViewData["Title"] = "Control Academico";
}

<h1>Control Academico</h1>
<p>Proyecto MVC para consultar estudiantes registrados en memoria.</p>
<p>
    <a href="/Estudiante/Listar">Ver listado de estudiantes</a>
</p>
